<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Harita</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Mesajlar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aracyonetim">
      <ion-icon name="car"></ion-icon>
      <ion-label>Araç</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
