<ion-header>
  <ion-toolbar>
    <ion-title>
      ARAÇ YONETİMİ
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides>
    <ion-slide>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Plaka</ion-label>
      <ion-input clearInput type="text" [(ngModel)]="car.plaka" (click)="isAlertPlaka=false"></ion-input>
      <ion-badge *ngIf="isAlertPlaka == true" color="danger" slot="end">Don't empty</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Şoför</ion-label>
      <ion-input clearInput type="text" [(ngModel)]="car.sofor" (click)="isAlertSofor=false"></ion-input>
      <ion-badge *ngIf="isAlertSofor == true" color="danger" slot="end">Don't empty</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Güzergah</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="car.guzergah" (click)="isAlertGuzergah=false">
      <ion-select-option value="izmit">İzmit-Okul</ion-select-option>
      <ion-select-option value="derince">Derince-Okul</ion-select-option>
      <ion-select-option value="korfez">Körfez-Okul</ion-select-option>
      <ion-select-option value="gebze">Gebze-Okul</ion-select-option>
      <ion-select-option value="basiskele">Başiskele-Okul</ion-select-option>
      <ion-select-option value="cayirova">Çayırova-Okul</ion-select-option>
      <ion-select-option value="darica">Darıca-Okul</ion-select-option>
      <ion-select-option value="dilovasi">Dilovası-Okul</ion-select-option>
      <ion-select-option value="golcuk">Gölcük-Okul</ion-select-option>
      <ion-select-option value="kandira">Kandıra-Okul</ion-select-option>
      <ion-select-option value="karamursel">Karamürsel-Okul</ion-select-option>
      <ion-select-option value="kartepe">Kartepe-Okul</ion-select-option>
    </ion-select>
      <ion-badge *ngIf="isAlertGuzergah == true" color="danger" slot="end">Don't empty</ion-badge>
    </ion-item>


    <ion-button class="ion-text-center" shape="round" strong (click)="add()">Ekle</ion-button>
    <ion-button shape="round" *ngIf="isUpdate==true" strong color="success" (click)="update(car.id)">Güncelle</ion-button>
    <ion-button shape="round" *ngIf="isUpdate==true" strong color="danger" (click)="cancel()">İptal</ion-button>

  </ion-list>
</ion-slide>
<ion-slide>

  <div *ngIf="cars?.length>0;else noCars">
    <ion-card *ngFor="let car of cars">
      <ion-item-sliding>
        <ion-item>
          <ion-label>{{car.plaka}} {{car.sofor}} {{car.guzergah}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option strong color="danger" (click)="delete(car.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
          <ion-item-option strong color="success" (click)="fill(car)">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </div>

  <ng-template #noCars>
    <ion-label>Kayıtlı araç yok.</ion-label>
  </ng-template>
</ion-slide>
</ion-slides>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Daha fazla veri...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
  
</ion-content>